/* page.module.css */

.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

.header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.header ul {
    padding: 0;
    list-style: none;
}

.header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

.container #branding {
    float: left;
}

.header #branding h1 {
    margin: 0;
}

.header nav {
    float: right;
    margin-top: 10px;
}

.header .highlight, .header .current a {
    color: #77aaff;
    font-weight: bold;
}

.header a:hover {
    color: #cccccc;
}

#showcase {
    min-height: 400px;
    text-align: center;
    color: #fff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}